body
{
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;
}

/* SMALL DEVICE HEADER */
.navbar-brand
{
    height: 50px;
    margin: 10px 0 10px 10px;
}
/* SMALL DEVICE HEADER */

@media only screen and (min-width: 357px)
{
    .navbar-brand
    {
        height: 60px;
        margin: 10px 50px 10px 10px;
    }
}

.contentContainer
{
    min-height: calc(100vh - 278px);
}

.main
{
    background-image: url("../assets/about1.jpg");
    background-size: cover;
}

.chunk
{
    padding: 10px;
}

.main > .textContainer > .chunk:first-child
{
    background-color: #88D119cc;
}

.main > .textContainer > .chunk:nth-child(2)
{
    background-color: #fffc;
}

.main > .textContainer > .chunk:last-child
{
    background-color: #177FD3cc;
    color: white;
}

.logo
{
    padding: 20px;
    text-align: center;
}

.logo > object
{
    width: 60%;
}

.aboutImage
{
    display: none;
    background-image: url("../assets/about1.jpg");
    background-size: cover;
}

footer
{
    background-color: #343A40;
    padding: 10px;
    display: flex;
    color: white;
}

.footerLogo
{
    text-align: center;
    width: 120px;
}

.footerLogo object
{
    width: 100px;
}

.address
{
    width: 200px;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.phone
{
    width: 200px;
    display: flex;
    margin-left: 10px;
}

.phoneIcon
{
    width: 20px;
    margin-top: 3px;
    margin-right: 5px;
}

.locationIcon
{
    width: 20px;
    margin-top: 3px;
    margin-right: 3px;
}

.locationIcon object, .phoneIcon object
{
    width: 20px;
    filter: invert(100%);
}

/* TABLET VIEW */

@media only screen and (min-width: 768px)
{
    .contentContainer
    {
        min-height: calc(100vh - 214px);
    }

    section
    {
        margin: 20px 0;
    }

    .main
    {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        background-image: none;
        display: flex;
        width: 80%;
        overflow: hidden;
        border-radius: 20px;
    }

    .chunk
    {
        padding: 20px;
    }

    .main > .textContainer > .chunk:first-child
    {
        background-color: #88D119;
    }

    .main > .textContainer > .chunk:nth-child(2)
    {
        background-color: #eee;
    }

    .main > .textContainer > .chunk:last-child
    {
        background-color: #177FD3;
        color: white;
    }

    .textContainer
    {
        width: 60%;
    }

    .aboutImage
    {
        display: block;
        width: 40%;
        background-position-x: calc(-8vw + 15%);
    }

    .aboutLogo
    {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        display: flex;
    }

    .logo > object
    {
        width: 200px;
    }

    .footerText
    {
        margin-left: 50px;
        display: flex;
    }

    .phone
    {
        margin-top: 10px;
    }
}

/* BIGGER TABLET */
@media only screen and (min-width: 992px)
{
    .sticky-top
    {
        position: static;
    }

    .main
    {
        width: 60%;
    }

    .aboutLogo
    {
        width: 60%;
    }

    .aboutImage
    {
        display: block;
        width: 40%;
        background-position: -180px;
    }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 1181px)
{
    .aboutImage
    {
        background-position: 0;
    }
}
