/* SMALL DEVICE HEADER */
.navbar-brand
{
    height: 50px;
    margin: 10px 0 10px 10px;
}

.background
{
    overflow: hidden;
}

#heroCarousel
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: calc(75% + 480px);
    height: calc(23.5vw + 150px);
    border: none;
}

@media only screen and (min-width: 357px)
{
    .navbar-brand
    {
        height: 60px;
        margin: 10px 50px 10px 10px;
    }
}

.hero
{
    position: relative;
}

.heroContent
{
    position: absolute;
    top: 0;
    background-color: #000a;
    width: 100%;
    height: calc(23.5vw + 150px);
}

.heroLogo
{
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    left: 7%;
    height: 40%;
}

.heroButtons
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7%;
}

.btn
{
    display: block;
    font-size: 3.5vw;
    width: 35vw;
    margin: 10px 0 0;
}

/* DESKTOP VIEW */
@media only screen and (min-width: 968px)
{
    .heroLogo
    {
        top: 12%;
        left: 50%;
        transform: translateX(-50%);
        height: 60%;
    }

    .heroButtons
    {
        top: unset;
        left: 50%;
        transform: translateX(-50%);
        right: unset;
        bottom: 15%;
    }

    .btn
    {
        display: inline;
        font-size: 1.2vw;
        width: 10vw;
        margin: 0 20px;
    }
}
