/* SMALL DEVICE HEADER */
.navbar-brand
{
    height: 50px;
    margin: 10px 0 10px 10px;
}
/* SMALL DEVICE HEADER */

.background
{
    overflow: hidden;
}

#heroCarousel
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: calc(75% + 480px);
    height: calc(23.5vw + 150px);
    border: none;
}

@media only screen and (min-width: 357px)
{
    .navbar-brand
    {
        height: 60px;
        margin: 10px 50px 10px 10px;
    }
}

.hero
{
    position: relative;
    height: calc(23.5vw + 150px);
}

.heroContent
{
    position: absolute;
    top: 0;
    background-color: #000a;
    width: 100%;
    height: calc(23.5vw + 150px);
}

.heroLogo
{
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    left: 7%;
    height: 40%;
}

.heroButtons
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 7%;
}

.btn
{
    display: block;
    font-size: 3.5vw;
    width: 35vw;
    margin: 10px 0 0;
}

.overview1, .overview2
{
    padding: 10px;
}

.overviewText h1
{
    font-size: 30px;
}

.overview1
{
    background-color: #88D119;
}

.overview2
{
    background-color: #177FD3;
    color: white;
}

.overviewGraphics
{
    text-align: right;
    margin-right: 20px;
}

.overviewGraphics object
{
    width: 40%;
}

footer
{
    background-color: #343A40;
    padding: 10px;
    display: flex;
    color: white;
}

.footerLogo
{
    text-align: center;
    width: 120px;
}

.footerLogo object
{
    width: 100px;
}

.footerText
{
    width: 200px;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.locationIcon
{
    width: 20px;
    margin-top: 3px;
    margin-right: 3px;
}

.locationIcon object
{
    width: 20px;
    filter: invert(100%);
}

/* DESKTOP VIEW */
@media only screen and (min-width: 968px)
{
    .sticky-top
    {
        position: static;
    }

    .heroLogo
    {
        top: 12%;
        left: 50%;
        transform: translateX(-50%);
        height: 60%;
    }

    .heroButtons
    {
        top: unset;
        left: 50%;
        transform: translateX(-50%);
        right: unset;
        bottom: 15%;
    }

    .btn
    {
        display: inline;
        font-size: 1.2vw;
        width: 10vw;
        margin: 0 20px;
    }
}
