body
{
    width: 100vw;
    overflow-x: hidden;
}

/* SMALL DEVICE HEADER */
.navbar-brand
{
    height: 50px;
    margin: 10px 0 10px 10px;
}
/* SMALL DEVICE HEADER */

.background
{
    overflow: hidden;
}

#heroCarousel
{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: calc(75% + 480px);
    height: calc(23.5vw + 150px);
    border: none;
}

@media only screen and (min-width: 357px)
{
    .navbar-brand
    {
        height: 60px;
        margin: 10px 50px 10px 10px;
    }
}

.hero
{
    position: relative;
    height: calc(23.5vw + 150px);
}

.heroContent
{
    position: absolute;
    top: 0;
    background-color: #000a;
    width: 100%;
    height: calc(23.5vw + 150px);
    display: flex;
    justify-content: center;
}

.heroContent > div
{
    margin: 0 20px;
}

.heroLogo
{
    position: relative;
    top: 50%;
    transform: translateY(-60%);
    height: 40%;
}

.heroButtons
{
    position: relative;
    height: 17vw;
    top: 50%;
    transform: translateY(-50%);
}

.btn
{
    display: block;
    font-size: 3.5vw;
    width: 35vw;
    margin: 10px 0 0;
}

.overview1, .overview2
{
    padding: 10px;
}

.overviewText h1
{
    font-size: 30px;
}

.overview1
{
    background-color: #88D119;
}

.overview2
{
    background-color: #177FD3;
    color: white;
}

.overviewGraphics
{
    text-align: right;
    margin-right: 20px;
}

.overviewGraphics object
{
    width: 150px;
}

.overviewPic1, .overviewPic2
{
    display: none;
}

footer
{
    position: absolute;
    top: calc(100% + 118px);
    width: 100vw;
    background-color: #343A40;
    padding: 10px;
    display: flex;
    color: white;
}

.footerLogo
{
    text-align: center;
    width: 120px;
}

.footerLogo object
{
    width: 100px;
}

.address
{
    width: 200px;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

.phone
{
    width: 200px;
    display: flex;
    margin-left: 10px;
}

.phoneIcon
{
    width: 20px;
    margin-top: 3px;
    margin-right: 5px;
}

.locationIcon
{
    width: 20px;
    margin-top: 3px;
    margin-right: 3px;
}

.locationIcon object, .phoneIcon object
{
    width: 20px;
    filter: invert(100%);
}

/* TABLET VIEW */

@media only screen and (min-width: 768px)
{
    .heroContent
    {
        display: block;
    }

    .heroLogoContainer
    {
        text-align: center;
    }

    .heroLogo
    {
        transform: translateY(30%);
        height: unset;
        width: 30%;
    }

    .heroButtons
    {
        top: unset;
        justify-self: center;
        right: unset;
        bottom: 15%;
        text-align: center;
        transform: translateY(80%);
    }

    .btn
    {
        display: inline;
        font-size: 2vw;
        width: 20vw;
        margin: 0 20px;
    }

    .overview1, .overview2
    {
        display: flex;
        padding: 40px;
    }
    
    .overviewText
    {
        width: 60%;
    }

    .overviewGraphics
    {
        text-align: center;
        width: 40%;
    }

    .footerText
    {
        margin-left: 50px;
        display: flex;
    }

    .phone
    {
        margin-top: 10px;
    }
}


/* DESKTOP VIEW */
@media only screen and (min-width: 992px)
{
    .sticky-top
    {
        position: static;
    }

    .heroLogo
    {
        transform: translateY(10%);
        width: 32%;
    }

    .heroButtons
    {
        transform: translateY(50%);
    }

    .btn
    {
        font-size: 1.2vw;
        width: 10vw;
        margin: 0 20px;
    }

    .overview > div
    {
        display: flex;
        justify-content: center;
    }

    .overview > div > div
    {
        margin: 20px;
        border-radius: 20px;
    }

    .overview1, .overview2
    {
        width: 40%;
    }

    .overviewPic1, .overviewPic2
    {
        z-index: 10;
        transition: 150ms;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        display: block;
        width: 700px;
        height: 393.75px;
    }

    .overviewPic1
    {
        background-image: url("../assets/overview1.jpg");
        background-color: #538011;
    }

    .overviewPic2
    {
        background-image: url("../assets/overview2.jpg");
        background-color: #215d8f;
    }

    .overviewPic1:hover, .overviewPic2:hover
    {
        transform: scale(1.01);
    }
}
